<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label="Tiempo (min)" type="number" [(ngModel)]="minutos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Presupuesto ($)" type="number" [(ngModel)]="presupuesto"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="buscar()">Ver recomendaciones</ion-button>

  <!-- Filtra todo por ahora xd -->
  @if (resultados$ | async; as lista) {
    @if (lista.length === 0) {
      <p>No hay lugares.</p>
    }
    <ion-list>
      @for (l of lista; track l.id) {
        <app-tarjeta-lugar [lugar]="l" (guardar)="guardar($event)"></app-tarjeta-lugar>
      }
    </ion-list>
  } @else {
    <ion-spinner></ion-spinner>
  }
</ion-content>
